<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.css">

      <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <!--- This is the webpage title --->
    <title>{% block title %}William Lu{% endblock %}</title>
  </head>
  <body>
      <div id="responsive-menu">
<div class="top-bar foundation-5-top-bar">
  <div class="top-bar-container" data-sticky-container>
      <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Weather You'll See Pokemon</li>
      <li><a href="{{url_for('home')}}">Home</a></li>
      <li><a href="#">Search by Location</a></li>
      <li><a href="#">Random Location</a></li>
  </div>

  </div>

</div>
<div class="top-bar-right">
  <ul class="dropdown menu" data-dropdown-menu>
  <li><input type="search" placeholder="Search"></li>
  <li><button type="button" class="button">Search</button></li>
</ul>
</div>
</div>
    {% block content %}
    CONTENT
    {% endblock %}

    &copy; William Lu
  </body>
</html>
