{% extends "base.html" %}
{% block title %}William Lu Says Hi{% endblock %}
{% block content %}

<form action="/search" method="GET" class="float-center">
  <div class="grid-x grid-padding-x">
	<div class="cell small-4 medium-4 large-4 float-center" style="text-align:center;">
	  <img src="static/pokeweather.png"/>
	  <i style="text-align:center;" class="float-center">Weather You'll See Pokemon</i>
	  <br>
	  <input type="text" name="q" placeholder="Search for a Pokemon or place." class="float-center" width="20px">
	  <button type="submit" class="button float-center">Go!</button>
	</div>
  </div>
</form>


{% endblock %}
