<html>
  <head>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/css/foundation.css">

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <!--- This is the webpage title --->
    <title>William Lu</title>
  </head>
  <body>
    <div id="responsive-menu">
	  <div class="top-bar foundation-5-top-bar">
		<div class="top-bar-container" data-sticky-container>
		  <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
			<div class="top-bar-left">
			  <ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-text">Weather You'll See Pokemon</li>
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li><a href="#">Search by Location</a></li>
				<li><a href="#">Random Location</a></li>
			  </ul>
			</div>

		  </div>

		</div>
		<div class="top-bar-right">
		  <form action="/search" method="GET">
			<ul class="dropdown menu" data-dropdown-menu>
			  <li><input type="text" name="q" placeholder="Search"></li>
			  <li><button type="submit" class="button">Go!</button></li>
			</ul>
		  </form>
		</div>
	  </div>
	</div>
  <div class="grid-container" style="background-color: blue">
    <div class="grid-y grid-padding-y medium-grid-frame" style="height: 100; background-color: blue">
    </div>

  </div>
<h1>Pokemon Name</h1>
<p>
  Abilities: Ability1, Ability2, Ability3
  <br>
  Games: HeartGold, SoulSilver
  <br>
  Height: 20 feet
  <br>
  Weight: HEAVY lbs
  <br>
  Types:  Type1, Type2, Type3
  <br>
  Stats: Stat1, Stat2, Stat3
  <br>
  Moves: Move1, Move2, Move3
  <br>
  Sprites: IMG1, IMG2, IMG3
  <h3>POKEMON NAME</h3>

  </p>




  &copy; William Lu
</body>
</html>
