{% extends "base.html" %}
{% block title %}Weather{% endblock %}
{% block content %}

  <div class="grid-container" style="margin-left: 250px; margin-right: 250px; border-radius: 10px; border: 5px solid;">
    <div class="grid-y grid-frame grid-padding-x grid-padding-y">
      <div class="cell"> <center> <h1> England is my City </h1> </center> </div>
      <div class="grid-x grid-padding-x grid-padding-y" style="margin-left: 100px; margin-right: 100px;">
        <div class="cell medium-6 large-6"><h3> Weather Related Stuff </h3>
          <div class="grid-y">
            <div class="cell"><center> <img src="http://www.google.com/intl/en_ALL/images/logo.gif"/ style="border: 2px solid"> </center></div>
            <div class="cell">Data1</div>
            <div class="cell">Data2</div>
          </div>
        </div>
        <div class="cell medium-6 large-6">
          <div class="grid-y">
            <div class="cell" style="background-color: blue"><h2>Type: Water</h2></div>
            <br>
            <div class="cell">
              <div class="callout small">
                <h5>Pokemon1</h5>
                <p>Short Desc.</p>
                <a href="#">Learn More!</a>
              </div>
            </div>
            <div class="cell">
              <div class="callout small">
                <h5>Pokemon1</h5>
                <p>Short Desc.</p>
                <a href="#">Learn More!</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div>

{% endblock %}
