{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block content %}

<div class="grid-container" style="background-color: #f8f9fa; border-radius: 10px; border: 5px solid black;">
	<div lass="grid-x grid-padding-x" style="border-radius: 10px;">
		<div class="cell"> <center> <h1>{{capitalize(name)}}</h1> </center> </div>
		<div class="cell"> <center> <img src="{{img}}"> </center> </div>
		<div class="cell"><h3>   </h3></div>
		<div class="cell">{{expl.capitalize()}}. <img src="{{img}}"></div>
		<div class="cell">Temperature: {{min}}F to {{max}}F</div>
    <div class="cell">Temperature Now: {{now}}F</div>
		<div class="grid-x grid-margin-x">
    {% for t in types %}
	    <div class="cell auto" style="background-color: {{colors[t][1]}}; border-radius: 5px; border: 3px solid {{colors[t][0]}}; text-align:center;">{{capitalize(t)}}</div>
    {% endfor %}
		</div>

	</div>
	<br>

  <div class="grid-x grid-padding-x small-up-3 medium-up-3">
    {% for p in pokemon %}
    <div class="cell pokehref">
	  <a href="/pokeinfo/{{ p['name'] }}">
		<div class="card" style="border-radius: 5px; border: 3px solid {{colors[p['types'][0]['type']['name']][0]}};">
          <img src="{{p['sprites']['front_default']}}" width="100%">
          <div class="card-divider" style="background-color:{{colors[p['types'][0]['type']['name']][1]}};text-align:center;">
			<h4 style="text-align:center;">{{capitalize(p['name'])}}</h4>
          </div>
		</div>
	  </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
