{% extends "base.html" %}
{% block title %}{{n.capitalize()}}{% endblock %}
{% block content %}
  <br>
  <div class="grid-container" style="margin-left: 300px; margin-right: 300px; border-radius: 10px; border: 15px solid blue;">
    <div class="grid-y grid-frame grid-padding-x grid-padding-y" style="background-color: white; border-radius: 10px;">
        <div class="cell"> <center> <h1> {{n.capitalize()}} </h1> </center> </div>
        <div class="cell" > <center> <img src="http://www.google.com/intl/en_ALL/images/logo.gif"> </center> </div>
        <div class="grid-x grid-padding-x grid-padding-y" style="margin-left: 100px; margin-right: 100px;">
          <div class="cell medium-6 large-6"><h3>Stats</h3>
            <div class="grid-y">
              <div class="cell">Height: {{data['height']}}</div>
              <div class="cell">Weight: {{data['weight']}}</div>
              <div class="cell">Base Stats</div>
               {% for stat in data['stats'] %}
               <div class="cell">{{stat['stat']['name'].capitalize()}}: {{stat['base_stat']}} </div>
              {% endfor %}
            </div>
          </div>

          <div class="cell medium-6 large-6">
            <div class="grid-y">
              <div class="grid-x">
                <div class = "cell"><h3>Type</h3></div>
                {% for type in data['types'] %}
                  <div class="cell medium-4 large-4" style="background-color: blue">{{type['type']['name'].capitalize()}}</div>
                {% endfor %}
              </div>
              <div class="grid-x">
                <div class = "cell"><h3>Abilties</h3></div>
                {% for ability in data['abilities'] %}
                  <div class="cell">{{ability['ability']['name'].capitalize()}}</div>
                {% endfor %}
              </div>
              <div class="grid-x">
                <div class = "cell"><h3>Moves</h3></div>
                 {% for move in data['moves'] %}
                  <div class="cell">{{move['move']['name'].capitalize()}}</div>
                {% endfor %}

              </div>
            </div>
          </div>
          <br>
          <div class="grid-y">
            <div class="cell">Games found in:</div>
            {% for game in data['game_indices'] %}
              <div class="cell">{{game['version']['name'].capitalize()}}</div>
            {% endfor %}
          </div>

        </div>
    </div>

  </div>

{% endblock %}
