{% extends "base.html" %}
{% block title %}{{n.capitalize()}}{% endblock %}
{% block content %}

	<div class="grid-container" style="margin-left: 300px; margin-right: 300px; border-radius: 10px; border: 15px solid blue;">
		<div class="grid-x" style="background-color: white; border-radius: 10px;">
		  <div class="cell medium-6 large-6" style = "background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png'); background-repeat:no-repeat; background-size:cover; background-position: center 0;"></div>
			<div class="cell medium-6 large-6">
				<div class="grid-y">
					<div class="cell"><h3>{{n.capitalize()}}</h3></div>
					<div class="grid-x grid-margin-x">

						{% for type in data['types'] %}
						<div class="cell medium-{{data['types']|count}} large-{{data['types']|count}}" style="background-color: {{colors[type['type']['name']]}}">{{type['type']['name'].capitalize()}}</div>
						{% endfor %}


						<div class="cell medium-4 large-4">
							<div class="grid-y">
								<div class = "cell">Height: {{data['height']}}</div>
								<div class="cell">Weight: {{data['weight']}}</div>
							</div>
						</div>
						{% for stat in data['stats'] %}
							<div class="cell medium-4 large-4">{{stat['stat']['name'].capitalize()}}: {{stat['base_stat']}}</div>
						{% endfor %}

					</div>
				</div>
			</div>

			<div class = "cell" style="">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title" style="color:black"><h10>Abilities</h10></a>
						<div class="accordion-content" data-tab-content>
							<div class="grid-x">
								{% for ability in data['abilities'] %}
								<div class="cell medium-3 large-3">{{ability['ability']['name'].capitalize()}}</div>
								{% endfor %}
							</div>

						</div>
					</li>
				</ul>
			</div>

			<div class = "cell" style="">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title" style="color:black"><h10>Moves</h10></a>
						<div class="accordion-content" data-tab-content>
							<div class="grid-x">
								{% for move in data['moves'] %}
								<div class="cell medium-3 large-3">{{move['move']['name'].capitalize()}}</div>
								{% endfor %}
							</div>

						</div>
					</li>
				</ul>
			</div>

			<div class = "cell" style="">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title" style="color:black"><h10>Moves</h10></a>
						<div class="accordion-content" data-tab-content>
							<div class="grid-x">
								{% for move in data['moves'] %}
								<div class="cell medium-3 large-3">{{move['move']['name'].capitalize()}}</div>
								{% endfor %}
							</div>

						</div>
					</li>
				</ul>
			</div>

			<div class = "cell" style="">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title" style="color:black"><h10>Moves</h10></a>
						<div class="accordion-content" data-tab-content>
							<div class="grid-x">
								{% for game in data['game_indices'][::-1] %}
								<div class="cell medium-3 large-3">{{game['version']['name'].capitalize()}}</div>
								{% endfor %}
							</div>

						</div>
					</li>
				</ul>
			</div>


		</div>
	</div>
{% endblock %}
